.card_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_image {
    width: 20%;
    img {
      width: 100%;
      border-radius: 25px;
    }
  }
  &_action {
    button {
      padding: 10px;
      color: #149df6;
      outline: none;
      border: none;
      background: none;
    }
  }
}

.suggestion_wrapper {
  width: 30%;
  &_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      margin: -3px 0 -4px;
      color: grey;
    }
  }
}
